{% extends "notes/base.html" %}
{% block title %} HOME {% endblock title %}
{% block pagetitle %}Welcome to YOURNOTES{% endblock pagetitle %}
{% block pagedesc %}We are here to provide you the best notes for the last time revision for your exam.{% endblock pagedesc %}
{% block notesinfo %}
<div class="container my-5 d-flex parent-container">
    <div class="Box Box-Shadow-sm bg-secondary p-2 bg-opacity-25 rounded">
        <h4 class="fw-bold text-danger">Quick Navigation</h4>
        <hr style="height:4px ;background-color:red;">
        <ul class="list-unstyled list-py-1 mb-0">
            <li class="bg-danger rounded p-2"><a class="link-sm link-dark text-decoration-none my-5 text-light fw-bold" href="#">Essential Educational
                    Qualifications</a></li>
            <hr class="divider">
            <li class="p-2"><a class="link-sm link-dark text-decoration-none my-2" href="#">Essential Educational
                    Qualifications</a></li>
            <hr class="divider">
            <li class="p-2"><a class="link-sm link-dark text-decoration-none my-2" href="#">Essential Educational
                    Qualifications</a></li>
            <hr class="divider">
            <li class="p-2"><a class="link-sm link-dark text-decoration-none my-2" href="#">Essential Educational
                    Qualifications</a></li>
            <hr class="divider">
            <li class="p-2"><a class="link-sm link-dark text-decoration-none my-2" href="#">Essential Educational
                    Qualifications</a></li>
        </ul>
    </div>
    <div class="container c-2">
        <div>
            <h4 class="fw-bold text-danger">Get your notes</h4>
            <hr style="height:4px ;background-color:red;">
            <div class="card w-100 border-warning p-2 mb-2 notescard">
                <img src="https://www.freeiconspng.com/thumbs/book-icon/book-icon--mixed-iconset--simiographics-9.png"
                    class="card-img-top bg-danger bg-opacity-75" alt="...">
                <div class="card-body c">
                    <div class="cbc c1">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                    <div class="cbc c2">
                        <button class="btn btn-success">View Notes</button>
                        <button class="btn btn-outline-danger d-flex"><i class="bi bi-download me-1 fw-bold"></i> Download</button>
                    </div>
                </div>
            </div>
            <div class="card w-100 border-warning p-2 mb-2 notescard">
                <img src="https://www.freeiconspng.com/thumbs/book-icon/book-icon--mixed-iconset--simiographics-9.png"
                    class="card-img-top bg-danger bg-opacity-75" alt="...">
                <div class="card-body c">
                    <div class="cbc c1">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                    <div class="cbc c2">
                        <button class="btn btn-success">View Notes</button>
                        <button class="btn btn-outline-danger d-flex"><i class="bi bi-download me-1 fw-bold"></i> Download</button>
                    </div>
                </div>
            </div>
            <div class="card w-100 border-warning p-2 mb-2 notescard">
                <img src="https://www.freeiconspng.com/thumbs/book-icon/book-icon--mixed-iconset--simiographics-9.png"
                    class="card-img-top bg-danger bg-opacity-75" alt="...">
                <div class="card-body c">
                    <div class="cbc c1">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                    <div class="cbc c2">
                        <button class="btn btn-success">View Notes</button>
                        <button class="btn btn-outline-danger d-flex"><i class="bi bi-download me-1 fw-bold"></i> Download</button>
                    </div>
                </div>
            </div>
            <div class="card w-100 border-warning p-2 mb-2 notescard">
                <img src="https://www.freeiconspng.com/thumbs/book-icon/book-icon--mixed-iconset--simiographics-9.png"
                    class="card-img-top bg-danger bg-opacity-75" alt="...">
                <div class="card-body c">
                    <div class="cbc c1">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card</p>
                    </div>
                    <div class="cbc c2">
                        <button class="btn btn-success">View Notes</button>
                        <button class="btn btn-outline-danger d-flex"><i class="bi bi-download me-1 fw-bold"></i> Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock notesinfo %}
